@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  justify-content: center;
  text-align: center;

  color: #FFF;
  background: -webkit-linear-gradient(#a06c74, #7c345a, #b0195e);
}

input {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.output {
  padding: 30px 15px;
  background-color: #0006;
}